= render PageHeader.new(title: t("app.dashboard"))
.page-list{"data-controller": "dashboard"}
    - if Flipper.enabled?(:matches, current_user)
        .page-item
            .page-title= Match.model_name.human.pluralize
            .gridx4
                = render(@matches) || render(partial: 'application/empty')
                = link_to new_match_path, class: [:cell, :new] do 
                    .cell-body= t("match.new")
    - if Flipper.enabled?(:drills, current_user)
        .page-item
            .page-title= Practice.model_name.human.pluralize
            .gridx4
                = render(@practices) || render(partial: 'application/empty')
                = link_to new_practice_path, class: [:cell, :new] do 
                    .cell-body= t("practice.new")
    