= form_with model: Comment.new(commentable: commentable), builder: CoachNotebookFormBuilder do |form|
    = form.hidden_field :commentable_id
    = form.hidden_field :commentable_type
    = form.tag_field :tag_list
    = form.text_area :body
    = form.submit