<% content_for :title, @title %>
<% content_for :subtitle, @subtitle %>
<% content_for :header do %>
    <div class="width flex">
        <div class="flex-1">
            <h2 class="subtitle"><%= @subtitle.is_a?(Array) ? @subtitle.join(" ") : @subtitle %></h2>
            <h1 class="title"><%= @title %></h1>
        </div>
        <% if content %>
            <div class="justify-self-end">
                <%= content %>
            </div>
        <% end %>
    </div>
    <% unless flash.empty? %>
        <div class="flashes">
        <% flash.each do |type, msg| %>
            <div class="flash-<%= type %>">
            <h2><%= t("flash.#{type}") %></h2>
            <%= msg.is_a?(Array) ? msg.to_sentence : msg %>
            </div>
        <% end %>
        </div> 
    <% end %>
<% end %>