.text-3xl.mb-8= t("user.new")
= form_tag "/users" do
    .mb-8.col-span-3
        = label_tag User.human_attribute_name(:email_address), nil, { class: "pl-0 p-1 form-label" }
        = text_field_tag :email_address, '', {class:"form-input text-2xl"}
    .mb-8.col-span-3
        = label_tag User.human_attribute_name(:password), nil, { class: "pl-0 p-1 form-label" }
        = password_field_tag :password, '', {class:"form-input text-2xl"}
    .col-start-1.col-end-2
        = submit_tag t("user.create.name"), { class:"form-submit w-full"}
