= render PageHeader.new(title: Library.model_name.human.pluralize)
.page-list
    .page-item
        .gridx4
            = render(@libraries) || render(partial: 'application/empty')
            = link_to new_library_path, class: [:cell, :new] do 
                .cell-body= t("library.new")
    = render 'pagination'