= render PageHeader.new(title: Drill.model_name.human) 
= form_with model: @drill, builder: CoachNotebookFormBuilder do |form|
    = form.hidden_field :library_id
    = form.text_field :name
    = form.text_area :body
    = form.text_field :duration_minutes
    = form.text_field :number_of_players
    = form.submit