= render PageHeader.new(title: Drill.model_name.human) 
= form_with model: @drill, class:"flex flex-col space-y-4", builder: CoachNotebookFormBuilder do |form|
    = form.hidden_field :library_id
    = form.text_field :name
    = form.text_area :body, size: '40x30'
    .grid.gap-4.grid-cols-2 
        -# = form.text_field :tags
        = form.text_field :duration_minutes
    = form.submit "Save", class: "btn-primary"