= render PageHeader.new(title: Practice.model_name.human) 
= form_with model: @practice, builder: CoachNotebookFormBuilder do |form|
    = form.select :squad_id, @squads.map{|s| [s.name, s.id]}
    = form.datetime_field :practice_at
    = form.select :copy_practice_id, @practices.map{|p| [p.practice_at.to_s + " - " + p.drills.limit(5).map(&:name).to_sentence, p.id] }
    = form.submit
