= render PageHeader.new(title: Practice.model_name.human.pluralize)
.page-list
    .page-item 
        .gridx4
            = render(@practices) || render(partial: 'application/empty')
            = link_to new_practice_path, class: [:cell, :new] do 
                .cell-body= t("practice.new")
    = render 'pagination'