= render PageHeader.new(title: Practice.model_name.human.pluralize) do 
    = link_to t("practice.new"), new_practice_path
.page-title= Practice.model_name.human.pluralize
.gridx4= render Practice.future
.rule 
.page-title= Practice.model_name.human.pluralize
.gridx4= render Practice.past