= render PageHeader.new(title: @player, subtitle: [ @player.team, @player.squad]) do
    = link_to(t("player.edit"), edit_player_path(@player), class: "btn-primary")
.page-list
    .page
        .sidebar 
            = render "comments", commentable: @player
        .body
            .page-title= Appearance.model_name.human.pluralize
            .grid= render @player.appearances