= render PageHeader.new(title: Match.model_name.human) 
= form_with model: @match, builder: CoachNotebookFormBuilder do |form|
    = form.select :team_id, Team.all.map{|team| [team.name, team.id]}
    = form.datetime_field :played_at
    = form.text_field :opposition
    = form.text_field :result 
    = form.select :home_team, ["True", "False"]
    = form.submit
