= render PageHeader.new(title: Squad.model_name.human) 
= form_with model: @squad, builder: CoachNotebookFormBuilder do |form|
    = form.text_field :name
    = form.text_field :competition
    = form.text_field :season
    = form.submit
