!!!5 
%html
  %head
    %title= t("app.name")
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1" }
    %link{ rel: "preconnect", href: "//fonts.googleapis.com" }
    %link{ rel: "preconnect", href: "//fonts.gstatic.com", crossorigin: true }
    %link{ rel: "stylesheet", href: "//fonts.googleapis.com/css2?family=Anek+Tamil:wght@100;400;700&display=swap" }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true 
  %body.sessions
    .grid.grid-cols-3.grid-rows-3.gap-2.w-screen.h-screen
      .row-start-2.col-start-2.col-end-2.align-middle
        .shadow.p-12.rounded-lg.bg-neutral-100
          - unless flash.empty?
            .flashes
              - flash.each do |type, message| 
                %div{ class: type}= message
          = yield 